// @font-face {
//     font-family: Robo_Bold;
//     src: url(./Fonts/Roboto-Bold.ttf);
// }



body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

header {

    font-family: Robo_Regular;
    z-index: 3;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    height: 100px;
    background-color: black;

    .header__wrapper {
        max-width: 1170px;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0 auto;

        .wrapper__logo {
            background-color: #e15858;
            border-radius: 10px;
            text-align: center;
            border: 2px solid black;
            width: 10%;
            padding: 10px 0;
            color: white;
            height: 25px;

            a {
                text-decoration: none;
                color: white;
            }
        }

        .wrapper__search {
            background-color: rgb(255, 255, 255);
            text-align: center;
            outline: none;
            border-radius: 10px;
            border: 2px solid black;
            width: 50%;
            padding: 10px 0;
            height: 25px;
        }

        .wrapper__menu {
            text-align: center;
            width: 16%;
            color: #fff;
            height: 25px;
            background-color: #e15858;
            border: 2px solid #000;
            border-radius: 10px;
            justify-content: space-around;
            padding: 10px 0;
            display: flex;
            cursor: pointer;

            .menu__burger {
                display: block;
                position: relative;
                width: 30px;
                height: 20px;

                span {
                    width: 76%;
                    height: 2px;
                    background-color: #fff;
                    position: absolute;
                    top: 4px;
                    left: 0px;
                    transition: all 0.3s ease 0s;
                }
            }

            .menu__burger:before,
            .menu__burger:after {
                content: "";
                background-color: white;
                position: absolute;
                width: 50%;
                height: 2px;
                transform: rotate(45deg);
                transition: all 0.3s ease 0s;
            }

            .menu__burger:before {
                top: 10px;
                right: 5px;
                transform: rotate(-45deg);
            }

            .menu__burger:after {
                top: 10px;
                right: 16px;
            }

            .menu__burger.active:before {
                width: 100%;
                right: 8px;
                transform: rotate(45deg)
            }

            .menu__burger.active:after {
                width: 100%;
                right: 10px;
                transform: rotate(-45deg);
            }

            .menu__burger.active span {
                transform: scale(0);
            }

            .menu__text {
                display: none;
                transition: all 0.3s ease 0s;

                a {
                    text-decoration: none;
                    color: white;
                }
            }

            .menu__text.active {
                display: none;
                height: 17%;
                width: 10%;
                background-color: #e15858;
                border-radius: 10px;
                flex-direction: column;
                justify-content: space-around;
                display: flex;
                position: fixed;
                margin-top: 20px;
                transition: all 1s ease 0s;
            }
        }
    }
}

.complaint {
    font-family: Robo_Regular;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 7%;
    width: 50%;
    background: white;
    display: none;
    z-index: 5;
    position: fixed;
    left: 25%;
    margin-top: -55px;

    h1 {
        text-align: center;
        margin: 15px 0;
    }

    input {
        height: 15px;
        width: 20px;
        margin-right: 10px;
        margin-left: 30px;
    }

    label {
        font-size: 25px;
    }

    p {
        padding-left: 65px;
        width: 80%;
        color: gray;
    }

    .button {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 95%;

        .cancellation {
            height: 35px;
            width: 65px;
            border-radius: 10px;
            margin-top: 20px;
            margin-bottom: 20px;
            border: 2px solid black;
        }

        .next {
            height: 35px;
            width: 65px;
            border-radius: 10px;
            margin-top: 20px;
            margin-bottom: 20px;
            border: 2px solid black;
        }
    }
}

#shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 4;
    /* поверх всех  кроме окна*/
    background: #000;
    opacity: 0.5;
    /*прозрачность*/
    left: 0;
    top: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;


    .block__2 {
        padding-top: 50px;
    }

    .block.hide {
        display: none;
    }

    .block {
        width: 20%;
        margin: 15px 20px;

        .block__image {


            img {
                width: 100%;
                height: auto;
                border-radius: 5%;

            }

            .hiden-menu {
                max-width: 18%;
                max-height: 17%;
                float: right;
                z-index: 2;
                opacity: .8;
                background-color: #fff;
                border-radius: 50%;
                margin-top: -20%;
                margin-right: 10px;
                position: relative;
                padding-bottom: 2px;
                text-align: center;
                cursor: pointer;

                span {
                    font-size: 30px;
                }


            }
        }

        .block__image.active {
            filter: blur(5px);
        }

        .block__desk {
            display: none;
        }

        .block__desk.active {
            height: 15%;
            width: 20%;
            background-color: #fff;
            border: 2px solid #000;
            border-radius: 10px;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            display: flex;
            position: absolute;
            cursor: pointer;
            margin-top: 125px;

        }

        .block__hide {
            display: none;
        }

        .block__hide.active {
            height: 15%;
            width: 20%;
            background-color: #fff;
            border: 2px solid #000;
            border-radius: 10px;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            display: flex;
            position: absolute;
            cursor: pointer;

            span {
                font-family: Robo_Regular;
            }
        }



        .block__dsc {
            width: 100%;
            align-items: center;
            display: flex;
            justify-content: space-around;

            .avatar {
                margin-top: 10px;
                max-width: 20%;
                max-height: 100%;

                img {
                    border-radius: 50%;
                    height: 100%;
                    width: 100%;
                }
            }

            .text {
                margin-left: 10px;
                font-family: Robo_Bold;
            }
        }
    }

}

@media (max-width: 1124px) {
    .complaint {
        width: 70%;
        left: 15%;

        label {
            font-size: 20px;
        }

        P {
            margin: 5px;
        }
    }

    .container {
        .block {
            .block__image {
                .hiden-menu {
                    span {
                        font-size: 25px;
                    }
                }
            }

            .block__desk.active {
                margin-top: 110px;
            }
        }
    }


}

@media (max-width: 886px) {
    header {
        .header__wrapper {
            .wrapper__logo {
                a {
                    font-size: 14px;
                }
            }

            .wrapper__menu {
                width: 20%;

                span {
                    font-size: 14px;
                }

                .menu__text.active {
                    width: 20%;
                }
            }
        }
    }

    .complaint {
        width: 75%;
        left: 15%;

        label {
            font-size: 18px;
        }

        P {
            margin: 10px;
        }
    }

    .container {
        .block {
            width: 14%;

            .block__image {
                .hiden-menu {

                    span {
                        font-size: 14px;
                    }


                }
            }

            .block__dsc {
                .text {
                    font-size: 14px;
                }
            }



            .block__hide.active {
                width: 20%;
            }

            .block__desk.active {
                margin-top: 105px;
                width: 20%;
            }
        }
    }
}

@media(max-width: 668px) {
    header {
        .header__wrapper {
            .wrapper__logo {
                width: 15%;

                a {
                    font-size: 14px;
                }
            }

            .wrapper__menu {
                width: 25%;

                span {
                    font-size: 14px;
                }
            }
        }
    }

    .complaint {
        width: 80%;
        left: 10%;

        label {
            font-size: 14px;
        }

        P {
            margin: 5px;
        }
    }

    .container {
        .block {
            width: 26%;

            .block__image {
                .hiden-menu {

                    span {
                        font-size: 18px;
                    }
                }
            }

            .block__dsc {
                .text {
                    font-size: 14px;
                }
            }

            .block__hide.active {
                width: 25%;
            }

            .block__desk.active {
                margin-top: 105px;
                width: 25%;
            }
        }
    }
}

@media(max-width: 546px) {
    .container {
        .block {
            width: 40%;

            .block__image {
                .hiden-menu {

                    span {
                        font-size: 25px;
                    }
                }
            }

            .block__dsc {
                .text {
                    font-size: 14px;
                }
            }

            .block__hide.active {
                width: 40%;
            }

            .block__desk.active {
                margin-top: 105px;
                width: 40%;
            }
        }
    }
}

@media(max-width: 400px) {
    header {
        .header__wrapper {
            .wrapper__search {
                width: 40%;
            }

            .wrapper__menu {
                width: 30%;

                span {
                    font-size: 14px;
                }


            }
        }
    }

    .complaint {
        width: 90%;
        left: 2%;

        label {
            font-size: 14px;
        }

        P {
            margin: 5px;
        }
    }

    .container {
        .block {
            width: 100%;

            .block__image {
                .hiden-menu {

                    span {
                        font-size: 25px;
                    }
                }
            }

            .block__dsc {
                .text {
                    font-size: 25px;
                }
            }

            .block__hide.active {
                width: 90%;
            }

            .block__desk.active {
                margin-top: 105px;
                width: 90%;
            }
        }
    }
}